@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, white, #5358b4);
    height: 100vh;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 150px;
}
.cabecalho-menu{
    display: flex;
    gap: 60px;
}
.cabecalho-menu-item{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.conteudo{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
    font-family: 'Sarala', sans-serif;
    margin-bottom: 10px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 40px;
    color: black;
    align-items: center;
}
.conteudo-principal-escrito-subtitulo{
    font-family:'Righteous', cursive;
}
.conteudo-principal-escrito-lista{
    list-style: disc;
    padding-left: 15px;
}
.conteudo-principal-imagem{
    width: 430px;
    height: 430px;
    border-radius: 50%;
    padding-top: 25px;
}
.rodape{
    padding-top: 30px;
}
.rodape p{
    text-align: center;
    color: white;
}
.rodape p a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
.rodape p a:hover{
    text-decoration: underline;
    font-style: italic;
}